{% for project in projects %}
    {# Each "project" is a WorkProject model object. #}
    {{ project.title|upper }}<br />
    ...
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if projects.has_previous %}
            <a href="?page={{ projects.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ projects.number }} of {{ projects.paginator.num_pages }}.
        </span>

        {% if projects.has_next %}
            <a href="?page={{ projects.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>